/* Чорний колір #212121 */
/* Абзац #757575 */
/* Білий колір #FFFFFF */
/* Синій колір #2196F3 */
/* Фокус #2196F3 */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --focus-color: #2196F3;
}

body {
background: #F5F5F5;
color: #212121;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

.hide {
list-style-type: none;
}
/* logo */
.logo-link {
font-family: 'Raleway',sans-serif; 
    color: var(--accent-color);
    list-style-type: none;
    text-decoration: none;
    /* ext-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
/*         margin-left: 215px; */
}
/* logo */

/* .logo-link:hover {
    color:#2196F3
} */
.logo-link:focus {
  color:#2196F3;
  background: #FFFFFF;
  /* background-color:var(--primary-text-color); */
}
/* logo */
.logo-header {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    list-style-type: none;
            font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
    /* ext-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
/* .logo-header:hover {
    color: #2196F3
} */
/* logo */
.logo-header:focus {
    color:var(--primary-text-color);
    background: #FFFFFF;;
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* Portfolio, Contacts link */
.link {
color: var(--primary-text-color);
list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:focus {
    color:var(--focus-color)
    /* text-decoration:#FFFFFF; */
}
/* Studio */
.studio-link  {
color: var(--primary-text-color);
list-style-type: none;
text-decoration: none;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.site-nav .studio-link.current {
    color: var(--accent-color);
}

.studio-link:hover {
    color: #2196F3;
    /* border:#188CE8; */
    
}

.studio-link:focus {
color: #188CE8;
}

/* Contacts */
.email {
    list-style-type: none;
}

/* .email:focus{
    color:#2196F3; */


.email-link {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.email-link:hover {
    color: #2196F3;
}


.email-link:focus {
color: #2196F3;
}


.tel {
list-style-type: none;
}

.tel-link {
    color: var(--title-text-color);
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel-link:focus {
    color:#2196F3;
}

.tel-link:hover {
    color: #2196F3;
}

/* Buttons */
.button {
    color: #F5F5F5;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    cursor: pointer
}

.button:focus,
.button:hover {
/*     border: 2px solid #2196F3; */
    color:#F5F4FA;
    background: rgba(33, 150, 243, 1);
    text-transform: none;
    border-radius: 4px;
    border-color: #2196F3;
}

.button-all{
    width: 73px;
        height: 38px;
        left: 512px;
        top: 174px;
        background: #2196F3;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            /* identical to box height, or 162% */
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;
        /* shadow-middle */
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border: 1px solid transparent;
        border-radius: 4px;
}

.button-all.first{
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.button-all.first:focus {
    border-color: #2196F3;
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.button-all.first:hover{
        border-color: #2196F3;
            background-color: var(--accent-color);
            color: #FFFFFF;
}

.web-sites{
    width: 125px;
        height: 38px;
        left: 593px;
        top: 174px;
        background: #F5F4FA;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            /* identical to box height, or 162% */
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            border: 1px solid transparent;
        border-radius: 4px;
}
.web-sites.two{
    color:#212121;
    background: #F5F4FA;
    border: 1px solid transparent;
}
.web-sites.two:focus {
    border: 1px solid transparent;
    border-color: #2196F3;
/*     border-radius: 4px; */
    color: #212121;
    background: #F5F4FA;
}
.web-sites.two:hover{
    border: 1px solid transparent;
        border-color: #2196F3;
            border-radius: 4px;
            color: #212121;
            background: #F5F4FA;
}

.apps{
    width: 112px;
        height: 38px;
        left: 726px;
        top: 174px;
        background: #F5F4FA;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            /* identical to box height, or 162% */
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            border: 1px solid transparent;
        border-radius: 4px;
}
.apps.three{
        color: #212121;
        background: #F5F4FA;
}
.apps.three:focus{
        border: 1px solid transparent;
            border-color: #2196F3;
            border-radius: 4px;
            color: #212121;
            background: #F5F4FA;
}
.apps.three:hover{
        border: 1px solid transparent;
            border-color: #2196F3;
            border-radius: 4px;
            color: #212121;
            background: #F5F4FA;
}

.design{
    width: 103px;
        height: 38px;
        left: 846px;
        top: 174px;
        background: #F5F4FA;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            /* identical to box height, or 162% */
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            border: 1px solid transparent;
        border-radius: 4px;
}
.design.four{
            color: #212121;
                background: #F5F4FA;
            border: 1px solid transparent;
}
.design.four:hover,
.design.four:focus{
            /* border: 1px solid transparent; */
                border-color: #2196F3;
                /* border-radius: 4px; */
                color: #212121;
                background: #F5F4FA;
}
.marketing{
    width: 130px;
        height: 38px;
        left: 957px;
        top: 174px;
        background: #F5F4FA;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            /* identical to box height, or 162% */
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            border: 1px solid transparent;
        border-radius: 4px;
}
.marketing.five{
                color: #212121;
                background: #F5F4FA;
                border: 1px solid transparent;
}
.marketing.five:hover,
.marketing.five:focus{
                /* border: 1px solid transparent; */
                    border-color: #2196F3;
                    /* border-radius: 4px; */
                    color: #212121;
                    background: #F5F4FA;
}

/* Project */
.project-title {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        letter-spacing: 0.06em;
        width: 322px;
            height: 36px;
            left: 239px;
            top: 576px;
}

.project-text {
    color: var(--title-text-color);
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
        letter-spacing: 0.03em;
}
/* Hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #F5F5F5;
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.content {
display: none;
}
/* features */

.features {
list-style-type: none;
}

.features-title {
color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
/* What-we-do */
.what-we-do-title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Team */
.team-main-title {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}

.team-title {
color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}

.team-activity {
color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
/* Footer */
.footer-bg {
        height: 252px;
            width: 1600px;
            left: 0px;
            top: 2094px;
            border-radius: 0px;
        background: #2F303A;
}

.footer-logo {
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    list-style-type: none;
    text-decoration: none;

}

.footer-logo:focus {
    color: #2196F3;
    background-color: #2F303A;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        list-style-type: none;
}

.logo:focus {
    color: #2196F3;
    background-color: #2F303A;
}

.footer-adress {
font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
        color: #FFFFFF;
        list-style-type: none;
        text-decoration: none;
        margin-bottom: 9px;
}

.footer-adress:focus {
    color:#2196F3;
}

.footer-telephone{
    font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        list-style-type: none;
        text-decoration: none;
}
 
.footer-email {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-email:hover {
    color:#2196F3;
}

.footer-email:focus {
color:#2196F3;
}

.footer-telephone:hover {
    color:#2196F3;
}

.footer-telephone:focus {
color:#2196F3;
}